<!--CSS Print-->
<style media="screen">
    .noPrint {
        display: block;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<style media="print">
    .noPrint {
        display: none;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<!--CSS Print-->


<div class="portlet box red">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Overtime Summary
        </div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">
                Print
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 yesprint">


                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <td style="text-align: center" rowspan="2">Sr.No.</td>
                        <td style="text-align: center" rowspan="2">Name</td>
                        <td style="text-align: center" rowspan="2">Basic Salary</td>
                        <td style="text-align: center" rowspan="2">Hourly Rate</td>
                        <td style="text-align: center" colspan="4">Overtime Worked Hours</td>
                        <td style="text-align: center" rowspan="2">Overtime Amount</td>
                        <td style="text-align: center" rowspan="2">Department</td>
                        <td style="text-align: center" rowspan="2">Remark</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">OT Performed before 10:00PM</td>
                        <td style="text-align: center">OT PERFORMED after 10:PM</td>
                        <td style="text-align: center">OT PERFORMED nn weekly rest days</td>
                        <td style="text-align: center">OT PERFORMED on public holidys</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in vm.employee track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.basic_salary | number:2}}</td>
                            <td>{{employee.hourly_rate | number:2}}</td>
                            <td>{{employee.before_four}}</td>
                            <td>{{employee.after_four}}</td>
                            <td>{{employee.onweekend}}</td>
                            <td>{{employee.onholiday}}</td>
                            <td>{{employee.total}}</td>
                            <td>{{employee.department}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

