<style>
    .custom{
        text-align:center
    }
</style>
<div class="portlet box red">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
          List of Employees
        </div>
        <div class="tools">
            <button type="button" ui-sref="main.employeeAdd" class="btn btn-primary" style="border:1px solid #ffffff">Add Employee</button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th class="custom">No.</th>
                    <th class="custom">Full Name</th>
                    <th class="custom">Tin Number</th>
                    <th class="custom">Department</th>
                    <th class="custom">Start Date</th>
                    <th class="custom">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in vm.employees track by $index">
                    <td class="custom">{{$index+1}}</td>
                    <td class="custom"><a ui-sref="main.employeeDetail({employeeID: employee.id})">{{employee.full_name}}</a></td>
                    <td class="custom">{{employee.tin_number}}</td>
                    <td class="custom">{{employee.department}}</td>
                    <td class="custom">{{employee.start_date}}</td>
                    <td class="custom">
                        <button class="btn btn-sm red btn-outline filter-cancel" ng-click="vm.deleteEmployee(employee.id)" type="button" style="padding: 0 5px 0 5px">
                            <i class="fa fa-times"></i> Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
