<div class="portlet box red">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Annual Undeclared Leave Table</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                <tr >
                    <th style="text-align:center"> No. </th>
                    <th style="text-align:center"> Month </th>
                    <th style="text-align:center"> Status </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="leave in vm.leave track by $index">
                    <td style="text-align:center">{{$index+1}}</td>
                    <td style="text-align:center">
                        <a ui-sref="main.LeaveEdit({date: leave.issued_date, uid: vm.uid})">{{leave.issued_date.split("-")[0]}}/{{leave.issued_date.split("-")[1]}}</a>
                    </td>
                    <td style="text-align:center">
                        <span class="label label-sm label-warining"> Undeclared </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
