<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Add Employee Bonus Record
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
        <div class="row" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Select the Month and Year for Overtime Calculation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">መስከረም (September)</option>
                        <option value="02">ጥቅምት (October)</option>
                        <option value="03">ህዳር (November)</option>
                        <option value="04">ታህሳስ (December)</option>
                        <option value="05">ጥር (January)</option>
                        <option value="06">የካቲት (February)</option>
                        <option value="07">መጋቢት (March)</option>
                        <option value="08">ሚይዝያ (April)</option>
                        <option value="09">ግንቦት (May)</option>
                        <option value="10">ሰኔ (June)</option>
                        <option value="11">ሃምሌ (July)</option>
                        <option value="12">ነሃሴ (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year">
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center" rowspan="2"></th>
                        <th style="text-align: center" rowspan="2">Name</th>
                        <th style="text-align: center" colspan="2">Served Period</th>
                        <th style="text-align: center" rowspan="2">Date</th>
                        <th style="text-align: center" rowspan="2">Bonus Amount</th>
                    </tr>
                    <tr>
                        <th style="text-align: center">Month</th>
                        <th style="text-align: center">Days</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="employee in vm.employee track by $index">
                        <td style="text-align: center"><input type="checkbox" ng-model="employee.selected"></td>
                        <td>
                            <select class="form-control" ng-model="employee.id" ng-change="vm.getEmployeeDetail(employee.id,$index)">
                                <option ng-repeat="employee2 in vm.employeeList"  value="{{employee2.id}}" label="{{employee2.full_name}}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="employee.month">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="employee.days">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="employee.date">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="employee.bonusAmount">
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.addBonus()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

