<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Edit Employee Bonus Record
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
        <div class="row" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Select the Month and Year for Overtime Calculation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">????? (September)</option>
                        <option value="02">???? (October)</option>
                        <option value="03">??? (November)</option>
                        <option value="04">???? (December)</option>
                        <option value="05">?? (January)</option>
                        <option value="06">???? (February)</option>
                        <option value="07">???? (March)</option>
                        <option value="08">???? (April)</option>
                        <option value="09">???? (May)</option>
                        <option value="10">?? (June)</option>
                        <option value="11">??? (July)</option>
                        <option value="12">??? (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year">
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center" rowspan="2"></th>
                        <th style="text-align: center" rowspan="2">Name</th>
                        <th style="text-align: center" colspan="2">Served Period</th>
                        <th style="text-align: center" rowspan="2">Date</th>
                        <th style="text-align: center" rowspan="2">Bonus Amount</th>
                    </tr>
                    <tr>
                        <th style="text-align: center">Month</th>
                        <th style="text-align: center">Days</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bonus in vm.bonus">
                        <td style="text-align: center"><input type="checkbox" ng-model="bonus.selected"></td>
                        <td>
                            <select class="form-control" ng-model="bonus.id">
                                <option ng-repeat="employee in vm.employeeList"  value="{{employee.id}}" label="{{employee.full_name}}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="bonus.months">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="bonus.days">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="bonus.payday">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="bonus.amount">
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.editBonus()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

