<!--CSS Print-->
<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
</style>
<style media="print">
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
</style>
<!--CSS Print-->


<div class="portlet box red">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Bonus Summary</div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">Print</button>
        </div>
    </div>
    <div class="portlet-body">
        <uib-tabset active="active">
            <!--Fixed Bonus-->
            <uib-tab  heading="Bonus for Fixed Salary" class="noPrint">
                <div class="row">
                    <div class="col-md-12 yesprint">
                        <table class="table table-responsive table-bordered">
                            <thead>

                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <!--Fixed Bonus-->

            <!--Variable Bonus-->
            <uib-tab heading="Bonus for Variable Salary" class="noPrint">
                <div class="row">
                    <div class="col-md-12 yesprint">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group ng-repeat="bonus in vm.variableBonus track by $index" class="panel-default" heading="{{bonus.employe.full_name}}">

                                <table class="table table-responsive table-bordered" style="margin-bottom: 10px">
                                    <thead>
                                      <tr>
                                          <th style="text-align:center;font-size:10px">Sr.No.</th>
                                          <th style="text-align:center;font-size:10px">Month</th>
                                          <th style="text-align:center;font-size:10px">Monthly Taxable employment Income before Bonus</th>
                                          <th style="text-align:center;font-size:10px">Bonus</th>
                                          <th style="text-align:center;font-size:10px">Monthly Taxable employment income including Bonus</th>
                                          <th style="text-align:center;font-size:10px">Income Tax on Bonus and Other employment incomes</th>
                                          <th style="text-align:center;font-size:10px">Income tax on monthly employment incomes without Bonus</th>
                                          <th style="text-align:center;font-size:10px">Monthly Tax On Bonus</th>
                                          <th style="text-align:center;font-size:10px">Net Bonus to be Given for Each Month after income tax deduction</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                     <tr ng-repeat="var in bonus.salary">
                                         <th style="text-align:center;font-size:10px">{{$index+1}}</th>
                                         <th style="text-align:center;font-size:10px">{{var.month}}</th>
                                         <th style="text-align:center;font-size:10px">{{var.salary}}</th>
                                         <th style="text-align:center;font-size:10px">{{var.bonus}}</th>
                                         <th style="text-align:center;font-size:10px">{{var.taxable_income_with_bonus}}</th>
                                         <th style="text-align:center;font-size:10px">{{var.taxed_income_without_bonus}}</th>
                                         <th style="text-align:center;font-size:10px"></th>
                                         <th style="text-align:center;font-size:10px">{{var.monthly_tax_on_tax}}</th>
                                         <th style="text-align:center;font-size:10px">{{var.bonus - var.monthly_tax_on_tax}}</th>
                                     </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th style="text-align:right;font-size:10px">Total</th>
                                        <th style="text-align:center;font-size:10px">{{var.total}}</th>
                                        <th style="text-align:center;font-size:10px"></th>
                                        <th style="text-align:center;font-size:10px"></th>
                                        <th style="text-align:center;font-size:10px"></th>
                                        <th style="text-align:center;font-size:10px"></th>
                                        <th style="text-align:center;font-size:10px"></th>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </uib-tab>
            <!--Variable Bonus-->

        </uib-tabset>
    </div>

</div>

