<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Add New Employee Overtime Record
        </div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
            <div class="row" style="background-color: #000000">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h4 style="color: white;font-size: 12px">Select the Month and Year for Overtime Calculation</h4>
                    </div>
                    <div class="col-md-3">
                        <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                            <option value="01">????? (September)</option>
                            <option value="02">???? (October)</option>
                            <option value="03">??? (November)</option>
                            <option value="04">???? (December)</option>
                            <option value="05">?? (January)</option>
                            <option value="06">???? (February)</option>
                            <option value="07">???? (March)</option>
                            <option value="08">???? (April)</option>
                            <option value="09">???? (May)</option>
                            <option value="10">?? (June)</option>
                            <option value="11">??? (July)</option>
                            <option value="12">??? (August)</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select style="width: 100%;margin-top:15px" ng-model="vm.year">
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center"></th>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">Date</th>
                            <th style="text-align: center">Start Time</th>
                            <th style="text-align: center">End Time</th>
                            <th style="text-align: center">Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="overtime in vm.overtime track by $index">
                            <td>
                                <input type="checkbox" ng-model="overtime.selected">
                            </td>
                            <td>
                                <select class="form-control" ng-model="overtime.id">
                                    <option ng-repeat="employee in vm.employeeList" ng-model="employee.id" value="{{employee.id}}" label="{{employee.full_name}}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" ng-model="overtime.date">
                            </td>
                            <td>
                                <div uib-timepicker ng-model="overtime.start_time" show-meridian="ismeridian"></div>
                            </td>
                            <td>
                                <div uib-timepicker ng-model="overtime.end_time" show-meridian="ismeridian" ></div>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="overtime.remark">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                            <button type="button" class="btn btn-primary" ng-click="vm.editOvertime()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

