<div class="portlet box red">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Severance History Table</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                <tr >
                    <th style="text-align:center"> No. </th>
                    <th style="text-align:center"> Month </th>
                    <th style="text-align:center"> Status </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="severance in vm.severance track by $index">
                    <td style="text-align:center">{{$index+1}}</td>
                    <td style="text-align:center">
                        <a ui-sref="main.SeveranceDetail({date: severance.end_date, uid: vm.uid})">{{severance.end_date.split("-")[0]}}/{{severance.end_date.split("-")[1]}}</a>
                    </td>
                    <td style="text-align:center">
                        <span class="label label-sm label-success"> Declared </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
