<!-- a -->

    <link rel="stylesheet" href="css/jquery.calendars.picker.css">

    <script src="assets/myjs/jquery-3.2.0.min.js"></script>
    <script src="assets/myjs/jquery.plugin.js"></script>
    <script src="assets/myjs/jquery.calendars.all.js"></script>
    <script src="assets/myjs/jquery.calendars.js"></script>
    <script src="assets/myjs/jquery.calendars.plus.js"></script>
    <script src="assets/myjs/jquery.calendars.picker.js"></script>
    <script src="assets/myjs/jquery.calendars.julian.js"></script>
    <script src="assets/myjs/jquery.calendars.ethiopian.js"></script>
    <script src="assets/myjs/jquery.calendars.persian.js"></script>

    <script>
        $(function() {
            var calendar;
            $('#chooseCalendar').change(function() {
                $('#popupDatepicker').calendarsPicker('destroy');
                calendar = $.calendars.instance($(this).val());
                $('#popupDatepicker').calendarsPicker({calendar: calendar});
            }).change();
        });
    </script>

<!-- a/ -->
<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Generate New Taxable Purchase Summary</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
        <div class="row" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Enter the Month and Year of Report Generation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">መስከረም (September)</option>
                        <option value="02">ጥቅምት (October)</option>
                        <option value="03">ህዳር (November)</option>
                        <option value="04">ታህሳስ (December)</option>
                        <option value="05">ጥር (January)</option>
                        <option value="06">የካቲት (February)</option>
                        <option value="07">መጋቢት (March)</option>
                        <option value="08">ሚይዝያ (April)</option>
                        <option value="09">ግንቦት (May)</option>
                        <option value="10">ሰኔ (June)</option>
                        <option value="11">ሃምሌ (July)</option>
                        <option value="12">ነሃሴ (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year" >
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
                <!-- a -->
                <div class="col-md-3">
                    <h6>Calendar</h6>
                    <select id="chooseCalendar" name="chooseCalendar">
                        <option value="ethiopian" selected>Ethiopian</option>
                        <option value="persian">Persian</option>
                    </select>

                </div>
                <!-- a/ -->
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <div class="col-md-12">
                    <div class="col-md-3"><img src="../src/assets/images/logo.jpg"></div>
                    <div class="col-md-6"><h3 style="font-weight: bold; text-align: center">በኢትዮጵያ ገቢዎችና ጉምሩክ ባለሥልጣን <BR>ቅፅ ለ የአገር ውስጥ ዕቃ ግዥ ማሳወቂያ ቅጽ</h3></div>
                    <div class="col-md-3"><img src="../src/assets/images/logo.jpg" style="float: right"></div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p style="text-align: left;font-weight: bold">የግብር ከፋይ መለያ ቁጥር: <br>የግብር ከፋይ ሥም: <br>የስራው አይነት: </p>
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: right;font-weight: bold">የግብር ዘመን: {{vm.month}} ወር {{vm.year}} ዓ.ም<br>ስልክ ቁጥር የቢሮ: <br>ሞባይል: </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="3" style="text-align:center">የተከፈለው የገንዘብ መጠን በብር</th>
                            <th></th>
                            <th colspan="2" style="text-align:center">ግዢ የተፈጸመበት ደረሰኝ</th>
                            <th colspan="2" style="text-align:center">ዊዝሆልድ የተፈጸመበት ደረሰኝ</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th style="text-align:center">የሻጭ ድርጅት /ግለሰብ/ሥም</th>
                            <th style="text-align:center">የግብር ከፋይ መለያ</th>
                            <th style="text-align:center">የዕቃው ዋጋ</th>
                            <th style="text-align:center">የተጨማሪ እሴት ታክስ ዋጋ</th>
                            <th style="text-align:center">ዊዝሆልዲንግ ታክስ </th>
                            <th style="text-align:center">የሽያጭ መመዝገቢያ መለያ ኮድ(MRC)</th>
                            <th style="text-align:center">ደረሰኝ ቁጥር</th>
                            <th style="text-align:center">የተሠጠበት ቀን</th>
                            <th style="text-align:center">ደረሰኝ ቁጥር</th>
                            <th style="text-align:center">የተሠጠበት ቀን</th>
                            <th style="text-align:center">የእቃው አይነት</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr></tr>
                        <tr  ng-repeat="purchase in vm.purchasedItems">
                            <td><input type="checkbox" ng-model="purchase.selected"></td>
                            <td><input class="custom" type="text" ng-model="purchase.company_name"></td>
                            <td><input class="custom" type="text" ng-model="purchase.tin_number"></td>
                            <td><input class="custom" type="text"  ng-model="purchase.item_price" ng-change="vm.purchaseTotal()" ng-currency currency-symbol=""></td>
                            <td>{{purchase.item_price * 0.15 | number:2}}</td>
                            <td>{{purchase.item_price * 0.02 | number:2}}</td>
                            <td><input class="custom" type="text" ng-model="purchase.mrc_code"></td>
                            <td><input class="custom" type="text"  ng-model="purchase.bill_code"></td>
                            <td><!-- a --><input class="custom" type="text"  id="popupDatepicker" ng-model="purchase.bill_date"><!-- a/ --></td>
                            <td><input class="custom" type="text"  ng-model="purchase.withholding_code"></td>
                            <td><input class="custom" type="text"  ng-model="purchase.withholding_date" ></td>
                            <td><input class="custom" type="text" ng-model="purchase.item_type"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align:right">Total</td>
                            <td>{{vm.subTotal | number:2}}</td>
                            <td>{{vm.vatTotal | number:2}}</td>
                            <td>{{vm.withholdTotal | number:2}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                            <button type="button" class="btn btn-primary" ng-click="vm.purchaseSummary()">Save</button>
                        </div>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

