<!--CSS Print-->
<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
</style>
<style media="print">
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
</style>
<!--CSS Print-->

<div class="portlet box blue">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Vat Declaration</div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">Print</button>
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
        <!--Date Picker-->
        <div class="row noPrint" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Enter the Month and Year of Report Generation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">መስከረም (September)</option>
                        <option value="02">ጥቅምት (October)</option>
                        <option value="03">ህዳር (November)</option>
                        <option value="04">ታህሳስ (December)</option>
                        <option value="05">ጥር (January)</option>
                        <option value="06">የካቲት (February)</option>
                        <option value="07">መጋቢት (March)</option>
                        <option value="08">ሚይዝያ (April)</option>
                        <option value="09">ግንቦት (May)</option>
                        <option value="10">ሰኔ (June)</option>
                        <option value="11">ሃምሌ (July)</option>
                        <option value="12">ነሃሴ (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year">
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.vatReport()">View Report</button>
                </div>
            </div>
        </div>
        <!--/Date Picker-->

        <!--ERCA Form-->
        <div class="row">
            <div class="col-md-12">
                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <tr>
                        <td colspan="3" style="text-align: center"><img src="../src/assets/images/logo.jpg"></td>
                        <td colspan="6" style="text-align: center">
                            <h5 style="font-weight: bold; text-align: center;font-size: 10px">በኢትዮጲያ ፌዴራላዊ ዲሞክራሲያዊ ሪፐብሊክ<br>የኢትዮጲያ ገቢዎችና ጉምሩክ ባለስልጣን
                                <br>The Federal Democratic Republic of Ethiopia<br>Ethiopian Revenues and Custons Authority<br>
                                <br>የተጨማሪ እሴት ታክስ ማስታወቂያ<br>VALUE ADDED TAX DECLARATION</h5><br>
                            <p style="text-align: center;font-weight: bold">Document No. <br> የሰነድ ቁጥር</p>
                        </td>
                        <td colspan="3" style="text-align: center"><img src="../src/assets/images/logo.jpg"></td>
                    </tr>
                </table>
                <!--Section-->
                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <thead style="background-color: gray;color:white">
                    <tr>
                        <th colspan="6" style="font-size: 10px">ክፍል 1 የግብር ከፋዩ መለያ</th>
                        <th colspan="6" style="font-size: 10px">Part 1 Taxpayer Identification</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="6">
                            <p style="font-size: 10px">1.1. የግብር ከፋዩ ስም  </p>
                        </td>
                        <td colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p style="font-size: 10px">Name  of Taxpayer </p>
                        </td>
                        <td colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p style="font-size: 10px">1.2. የግብር ከፋይ መለያ ቁጥር /   Taxpayer Identification Number(TIN)</p>
                        </td>
                        <td colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p style="font-size: 10px">1.3.  የተጨማሪ እሴት ታክስ ቁጥር/  VAT  Registration Number  </p>
                        </td>
                        <td colspan="6">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 10px">ለ &nbsp; &nbsp;{{vm.month}} &nbsp; &nbsp;ወር &nbsp; &nbsp; {{vm.year}}&nbsp; &nbsp; ዓ.ም &nbsp; &nbsp; &nbsp; &nbsp;For the month of</td>
                    </tr>
                    </tbody>
                </table>
                <!--Section-->

                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <thead style="background-color: gray;color:white">
                    <tr>
                        <th colspan="4" style="font-size: 10px">ክፍል 2 የተጨማሪ እሴት ታክስ ስሌት</th>
                        <th colspan="4" style="font-size: 10px">Part 2 Computation of Value Added Tax</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="8">
                            <p style="font-size: 10px">2.1.በዚህ ወር የሚያሳውቁት ከሌለ (√) ምልክት ያድርጉ / If the return for the period is NIL (√) Here <span><input type="checkbox"></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-responsive table-bordered">
                    <thead style="background-color: gray;color:white">
                       <tr>
                           <th colspan="4" style="font-size: 10px">2.2 የምርት ውጤት  ታክስ ስሌት</th>
                           <th colspan="4" style="font-size: 10px">Part 2 Computation of Output Tax</th>
                       </tr>
                    </thead>
                    <tbody>
                    <!--SECTION 3-->
                       <tr>
                        <td style="width: 25%;font-size:10px" >ታክስ የሚከፈልባቸው ዕቃዎች እና የአገልግሎቶች አቅርቦት/ሽያጭ ዋጋ<br>Value of Taxable Goods and Supplies<br> </td>
                        <td style="width: 6%;font-size:10px"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.salessummery}}</td>
                        <td style="width: 1%;font-size:10px"></td>
                        <td style="width: 25%;font-size:10px">በ ዕቃ እና በአገልግሎት ሽያጭ ላይ መታሰብ ያለበት የተጨማሪ እሴት ታክስ<br>VAT on  Taxable Goods & Supplies</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.salessummery_vat}}</td>
                        <td style="width: 1%"></td>
                    </tr>
                       <tr>
                           <td style="width: 25%;font-size:10px">የዜሮ ምጣኔ ያላቸው ዕቃዎች እና አገልግሎቶች ሽያጭ ዋ<br>Value of Zero-Rated Goods </td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%;font-size:10px"><input class="custom" type="number" ng-model="vm.val1" ng-change="vm.calculate()"></td>
                           <td style="width: 1%"></td>
                           <td style="width: 25%"></td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%"></td>
                           <td style="width: 1%"></td>
                       </tr>
                       <tr>
                           <td style="width: 25%;font-size:10px">ከተጨማሪ እሴት ታክስ ነፃ የሆነ ሽያጭ /አቅርቦቶች ዋጋ<br>Value of Exempt Supplies /Sales</td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%;font-size:10px"><input class="custom" type="number" ng-model="vm.val2" ng-change="vm.calculate()"></td>
                           <td style="width: 1%"></td>
                           <td style="width: 25%"></td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%"></td>
                           <td style="width: 1%"></td>
                       </tr>
                       <tr>
                           <td style="width: 25%;font-size:10px">የታክስ ምህረት ያገኙ አቅርቦቶች ዋጋ<br>Value of Remitted Supplies</td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%;font-size:10px"><input  class="custom" type="number" ng-model="vm.val3" ng-change="vm.calculate()"></td>
                           <td style="width: 1%"></td>
                           <td style="width: 25%"></td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%"></td>
                           <td style="width: 1%"></td>
                       </tr>
                       <tr>
                           <td style="width: 25%;font-size:10px">ጠቅላላ አቅርቦት /ሽያጭ<br>Total Supplies /Sales</td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%;font-size:10px">{{vm.totalSales}}</td>
                           <td style="width: 1%"></td>
                           <td style="width: 25%;font-size:10px">የወሩ ተከፋይ  የተጨማሪ እሴት ታክ<br>VAT</td>
                           <td style="width: 6%"></td>
                           <td style="width: 18%;font-size:10px">{{vm.data.salessummery_vat}}</td>
                           <td style="width: 1%"></td>
                       </tr>
                    <!--/SECTION 3-->

                    <!--SECTION 4-->

                    <!--SECTION 4-->

                    </tbody>
                </table>
                <!--Section-->

                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <thead style="background-color: gray;color:white">
                    <tr>
                        <th colspan="4" style="font-size:10px">2.3. የግብዓት  ታክስ ስሌት</th>
                        <th colspan="4" style="font-size:10px">Part 2. Computation of Input Tax</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--SECTION 3-->
                    <tr>
                        <td style="width: 25%;font-size:10px">የአገር ውስጥ ግዥዎች ግብዓት ዋጋ<br>Value of Local Purchases Inputs </td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localgoodspurchase}}</td>
                        <td style="width: 1%"></td>
                        <td style="width: 25%;font-size:10px">በአገር ውስጥ ግዥዎች ግብዓት ላይ የተከፈለ የተጨማሪ እሴት ታክስ<br>Value of Local Purchases Input  </td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localgoodspurchase_vat}}</td>
                        <td style="width: 1%"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;font-size:10px">የውጭ ሀገር ግዥ ግብዓት ዋጋ<br>Value of Imported Inputs</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.foreignPurchaseSummery}}</td>
                        <td style="width: 1%"></td>
                        <td style="width: 25%;font-size:10px">የውጭ ሀገር ግዥ ግብዓት ዋጋ ላይ የተከፈለ የተጨማሪ እሴት ታክስ<br>Value on mported Inputs </td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.foreignPurchaseSummery_vat}}</td>
                        <td style="width: 1%"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;font-size:10px">የልዩ ልዩ ወጪዎች ግብዓት  ዋጋ<br>Value of General Expenses Inputs</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localservicespurchase}}</td>
                        <td style="width: 1%"></td>
                        <td style="width: 25%;font-size:10px">የልዩ ልዩ ወጪዎች ግብዓት  ዋጋ  ላይ  የተከፈለ የተጨማሪ እሴት ታክስ<br>Value of General Expenses Inputs</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localservicespurchase_vat}}</td>
                        <td style="width: 1%"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;font-size:10px">የተጨማሪ እሴት ታክስ ያልተከፈለበት ግዥ ወይም ተመላሽ የማይጠየቅባቸው ግብዓት ዋጋ<br>Value of Purchases with no VAT or unclaimed Inputs</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.nontinPurchase}}</td>
                        <td style="width: 1%"></td>
                        <td style="width: 25%"></td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;font-size:10px">የጠቅላላ የግብዓት ዋጋ<br>Value of Total Inputs</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localgoodspurchase + vm.data.foreignPurchaseSummery + vm.data.nontinPurchase}}</td>
                        <td style="width: 1%"></td>
                        <td style="width: 25%"></td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;font-size:10px">ታክስ የተከፈለበት የግብዓት ዋጋ<br>Value of Taxable Input</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localgoodspurchase + vm.data.foreignPurchaseSummery}}</td>
                        <td style="width: 1%"></td>
                        <td style="width: 25%;font-size:10px">በግብዓት ዋጋ  ላይ  የተከፈለ የተጨማሪ እሴት ታክስ<br>Total Inputs Tax  Credit</td>
                        <td style="width: 6%"></td>
                        <td style="width: 18%;font-size:10px">{{vm.data.localgoodspurchase_vat + vm.data.foreignPurchaseSummery_vat + vm.data.localservicespurchase_vat}}</td>
                        <td style="width: 1%"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">የወሩ የተጣራ ተጨማሪ እሴት ታክስ ተከፋይ<br>Net VAT Due for month (before other credits) </td>
                        <td></td>
                        <td>{{vm.net}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">የወሩ ተመላሽ የተጨማሪ እሴት ታክስ<br>VAT Credit for Month (before other credits)</td>
                        <td></td>
                        <td style="font-size: 10px">{{vm.return}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">ሌሎች በወሩ ውስጥ የሚታሰቡ (ክፍያ፣ሽያጭ ታክስ፣በእጅ ያለ ዕቃ)<br>Other Credit for Month (payment,sales Tax,Goods on Hand)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">ካለፈው ወር የዞረ ብልጫ ክፍያ<br>Credit Carried forward from Previous Month</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">ጠቅላላ ተከፋይ<br>Amount to be Paid</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">ለተከታዩ ወር የሚታሰብ ተመላሽ ሂሳብ<br>Credit Available for carry forward </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--/SECTION 3-->

                    <!--SECTION 4-->

                    <!--SECTION 4-->

                    </tbody>
                </table>
                <!--Section-->

                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <thead style="background-color: gray;color:white">
                    <tr>
                        <th colspan="4" style="font-size: 10px">ክፍል 3 የትክክለኛነት ማረጋገጫ</th>
                        <th colspan="4" style="font-size: 10px">Part  3 Commitment </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="8">
                            <p style="font-size: 10px">በዚህ ቅጽ ላይ የሰፈሩት ሁሉም መረጃዎች ትክክልና የተሟላ መሆኑን አረጋግጣለሁ፡፡ <br> I here by certify that the information given in this from is true and complete.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-size: 10px">ሙሉ ስም/Name</td>
                        <td colspan="2" style="font-size: 10px">ፊርማ/Signature</td>
                        <td colspan="2" style="font-size: 10px">ቀን/Date</td>
                        <td colspan="2" style="border:1px solid black;font-size: 10px">ማህተም</td>
                    </tr>
                    </tbody>
                </table>
                <!--Section-->

                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <thead style="background-color: gray;color:white">
                    <tr>
                        <th colspan="4" style="font-size: 10px">ክፍል 4 ለተጨማሪ እሴት ታክስ መምሪያ አገልግሎት ብቻ</th>
                        <th colspan="4" style="font-size: 10px">Part 4 For VAT Department Use Only</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <p style="font-size: 10px">ያረጋገጠው/Checked By</p>
                            </td>
                        </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">የሠራተኛው ስም/Officer's Name</td>
                        <td colspan="3" style="font-size: 10px">ፊርማ/Signature</td>
                        <td colspan="3" style="font-size: 10px">ቀን/Date</td>
                    </tr>
                    </tbody>
                </table>
                <!--Section-->
            </div>
            <div class="col-md-12">
                <button type="button" ng-if="vm.data.vat_status == '0'" ng-click="vm.vatDeclaration()" class="btn btn-primary" style="float:right">Declare Report</button>
            </div>
        </div>
        <!--/ERCA Form-->
    </div>
</div>

