<style>
    .panel-default>.panel-heading {
        background-color: #ea6443;
        color: white;
        font-size: 17px;
        font-weight: 700;
    }

</style>
<div class="portlet box red">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            <i class="fa fa-picture"></i>Employee Detail
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" heading="Employee Profile">
                    <div class="col-md-8 col-md-offset-2">
                        <p><h5 style="font-weight: bolder">Full Name: {{vm.employeeDetail.full_name}}</h5></p>
                        <p><h5 style="font-weight: bolder">TIN Number: {{vm.employeeDetail.tin_number}}</h5></p>
                        <p><h5 style="font-weight: bolder">Department: {{vm.employeeDetail.department}}</h5></p>
                        <p><h5 style="font-weight: bolder">Start Date: {{vm.employeeDetail.start_date}}</h5></p>
                        <p><h5 style="font-weight: bolder">Cost Sharing Amount: {{vm.employeeDetail.cost_sharing}}</h5></p>
                        <p><h5 style="font-weight: bolder" ng-if="vm.salaryType == 'fixed'">Total Salary: {{vm.employeeDetail.salary[0].total_salary}}</h5></p>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" heading="Employee Salary"
                     ng-if="vm.salaryType == 'variable'">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center">No.</th>
                                <th style="text-align: center">Fiscal Year</th>
                                <th style="text-align: center">Total Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="salary in vm.salary track by $index">
                                <td style="text-align: center">{{$index+1}}</td>
                                <td style="text-align: center">{{salary.duration}}</td>
                                <td style="text-align: center">{{salary.total_salary}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" heading="Employee Overtime">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center">No.</th>
                                <th style="text-align: center">Date</th>
                                <th style="text-align: center">Start Time</th>
                                <th style="text-align: center">End Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="overtime in vm.employeeOvertime track by $index">
                                <td style="text-align: center">{{$index+1}}</td>
                                <td style="text-align: center">{{overtime.overtime_date}}</td>
                                <td style="text-align: center">{{overtime.start_time}}</td>
                                <td style="text-align: center">{{overtime.end_time}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" heading="Employee Bonus">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center" rowspan="2">No.</th>
                                <th style="text-align: center" colspan="2">Served Leave Period</th>
                                <th style="text-align: center" rowspan="2">Bonus Amount</th>
                            </tr>
                            <tr>
                                <th style="text-align: center">Months</th>
                                <th style="text-align: center">Days</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="bonus in vm.bonus track by $index">
                                <td style="text-align: center">{{$index+1}}</td>
                                <td style="text-align: center">{{bonus.served_leaved_period.split("-")[0]}}</td>
                                <td style="text-align: center">{{bonus.served_leaved_period.split("-")[1]}}</td>
                                <td style="text-align: center">{{bonus.total_amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" heading="Employee Allowance">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center">No.</th>
                                <th style="text-align: center">Start Date</th>
                                <th style="text-align: center">End Date</th>
                                <th style="text-align: center">Type</th>
                                <th style="text-align: center">Total Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="allowance in vm.allowance track by $index">
                                <td style="text-align: center">{{$index+1}}</td>
                                <td style="text-align: center">{{allowance.start}}</td>
                                <td style="text-align: center">{{allowance.end}}</td>
                                <td style="text-align: center">{{allowance.type}}</td>
                                <td style="text-align: center">{{allowance.total_amount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" heading="Employee Annual Leave">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center" rowspan="2">No.</th>
                                <th style="text-align: center" colspan="2">Served Leave Period</th>
                                <th style="text-align: center" rowspan="2">Issued Date</th>
                                <th style="text-align: center" rowspan="2">Leave Days</th>
                                <th style="text-align: center" rowspan="2">Accumulated Leave</th>
                            </tr>
                            <tr>

                                <th style="text-align: center">Months</th>
                                <th style="text-align: center">Days</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="leave in vm.leave track by $index">
                                <td style="text-align: center">{{$index+1}}</td>
                                <td style="text-align: center">{{leave.served_leaved_period.split("-")[0]}}</td>
                                <td style="text-align: center">{{leave.served_leaved_period.split("-")[1]}}</td>
                                <td style="text-align: center">{{leave.issued_date}}</td>
                                <td style="text-align: center">{{leave.leave_date}}</td>
                                <td style="text-align: center">{{leave.leave_accumulated}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
