<!--CSS Print-->
<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
</style>
<style media="print">
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
</style>
<!--CSS Print-->

<div class="portlet box blue">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Taxable Purchase Summary</div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">Print</button>
        </div>
    </div>
    <div class="portlet-body">

        <div class="row">

            <div class="col-md-12">

                <table class="table table-responsive table-bordered">
                    <tr>
                        <td colspan="3" style="text-align: left;border:hidden"><img src="../src/assets/images/logo.jpg"></td>
                        <td colspan="6" style="border:hidden"><h3 style="font-weight: bold; text-align: center">በኢትዮጵያ ገቢዎችና ጉምሩክ ባለሥልጣን <BR>ቅፅ ለ የአገር ውስጥ ዕቃ ግዥ ማሳወቂያ ቅጽ</h3></td>
                        <td colspan="3" style="text-align: right;border:hidden"><img src="../src/assets/images/logo.jpg"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: left;border:hidden"><p style="text-align: left;font-weight: bold">የግብር ከፋይ መለያ ቁጥር: <br>የግብር ከፋይ ሥም: <br>የስራው አይነት: </p></td>
                        <td colspan="6" style="text-align: right;border:hidden"><p style="text-align: right;font-weight: bold">የግብር ዘመን: {{vm.month}} ወር {{vm.year}} ዓ.ም<br>ስልክ ቁጥር የቢሮ: <br>ሞባይል: </p></td>
                    </tr>
                </table>

                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="3" style="text-align:center">የተከፈለው የገንዘብ መጠን በብር</th>
                        <th></th>
                        <th colspan="2" style="text-align:center">ግዢ የተፈጸመበት ደረሰኝ</th>
                        <th></th>
                    </tr>
                    <tr>
                            <th style="text-align:center">ተ.ቁ</th>
                            <th style="text-align:center">የሻጭ ድርጅት /ግለሰብ/ሥም</th>
                            <th style="text-align:center">የግብር ከፋይ መለያ</th>
                            <th style="text-align:center">የዕቃው ዋጋ</th>
                            <th style="text-align:center">የተጨማሪ እሴት ታክስ ዋጋ</th>
                            <th style="text-align:center">ዊዝሆልዲንግ ታክስ </th>
                            <th style="text-align:center">የሽያጭ መመዝገቢያ መለያ ኮድ(MRC)</th>
                            <th style="text-align:center">የሽያጭ መመዝገቢያ መለያ ኮድ(MRC)</th>
                            <th style="text-align:center">ደረሰኝ ቁጥር</th>
                            <th style="text-align:center">የእቃው አይነት</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    <tr ng-repeat="purchase in vm.purchaseSummary track by $index">
                        <td style="text-align:center">{{$index+1}}</td>
                        <td style="text-align:center">{{purchase.company_name}}</td>
                        <td style="text-align:center">{{purchase.tin_number}}</td>
                        <td style="text-align:center">{{purchase.item_price}}</td>
                        <td style="text-align:center">{{purchase.VAT}}</td>
                        <td style="text-align:center">{{purchase.withholding_tax}}</td>
                        <td style="text-align:center">{{purchase.mrc_code}}</td>
                        <td style="text-align:center">{{purchase.bill_code}}</td>
                        <td style="text-align:center">{{purchase.bill_date}}</td>
                        <td style="text-align:center">{{purchase.item_name}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align:right">Total</td>
                        <td style="text-align:center">{{vm.purchaseTotal | number:2}}</td>
                        <td style="text-align:center">{{vm.purchaseVAT | number:2}}</td>
                        <td style="text-align:center">{{vm.withholdTotal | number:2}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

