<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           No TIN Purchase Summary</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body"  style="padding: 0px 15px 15px 15px">
        <div class="row" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Enter the Month and Year of Report Generation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">መስከረም (September)</option>
                        <option value="02">ጥቅምት (October)</option>
                        <option value="03">ህዳር (November)</option>
                        <option value="04">ታህሳስ (December)</option>
                        <option value="05">ጥር (January)</option>
                        <option value="06">የካቲት (February)</option>
                        <option value="07">መጋቢት (March)</option>
                        <option value="08">ሚይዝያ (April)</option>
                        <option value="09">ግንቦት (May)</option>
                        <option value="10">ሰኔ (June)</option>
                        <option value="11">ሃምሌ (July)</option>
                        <option value="12">ነሃሴ (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year" >
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"><img src="../src/assets/images/logo.jpg"></div>
                <div class="col-md-6"><h3 style="font-weight: bold; text-align: center">TEST FOR THE SA?LES SUMMARY<BR>INTRODUCTORY ARTICLE</h3></div>
                <div class="col-md-3"><img src="../src/assets/images/logo.jpg" style="float: right"></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <p style="text-align: left;font-weight: bold">የግብር ከፋይ መለያ ቁጥር <br>የግብር ከፋይ ሥም<br>የስራው አይነት<br>ሪፖርት የተደረገበት: {{vm.year}}  ዓ.ም {{vm.month}} ወር</p>
                </div>
                <div class="col-md-4">
                    <p style="text-align: left;font-weight: bold">ስልክ ቁጥር:<br>ሞባይል</p> 
                </div>    
                <div class="col-md-4">
                    <p style="text-align: right;font-weight: bold">የማስታወቂያ ዓይነት<br>1.የዕቃ ግዢ<br>2.የአገልግሎት</p>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="4" style="text-align: center">አድራሻ</th>
                        <th></th>
                        <th colspan="2" style="text-align: center">የተከፈለው የገንዘብ መጠን በብር</th>
                        <th colspan="2" style="text-align: center">የክፍያ ቮቸር</th>
                    </tr>
                    <tr>
                       <th style="text-align: center">ተ.ቁ</th>
                        <th style="text-align: center">የሻጭ ድርጅት ግለሰብ/ሥም</th>
                        <th style="text-align: center">ክልል</th>
                        <th style="text-align: center">ዞን/ ክ/ከተማ</th>
                        <th style="text-align: center">ወረዳ/ቀበሌ</th>
                        <th style="text-align: center">የቤት ቁ.</th>
                        <th style="text-align: center">የእቃው/የአገልግሎት አይነት</th>
                        <th style="text-align: center">የዕቃው/የአገልግሎት ዋጋ</th>
                        <th style="text-align: center">ዊዝሆልዲን ታክስ</th>
                        <th style="text-align: center">ቁጥር</th>
                        <th style="text-align: center">የተሰጠበት ቀን</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    <tr ng-repeat="purchasedItems in vm.purchasedItems">
                        <td><input class="custom" type="checkbox" ng-model="purchasedItems.selected"></td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.company_name"></td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.sub_city"></td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.zone"></td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.woreda"></td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.house_number"></td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.purchase_type"></td>
                        <td><input class="custom" type="number" ng-model="purchasedItems.item_price" ng-change="vm.purchaseTotal()"></td>
                        <td>{{purchase.item_price * 0.02 | number:2}}</td>
                        <td><input class="custom" type="text" ng-model="purchasedItems.voucher_number"></td>
                        <td><input class="custom" type="number" ng-model="purchasedItems.voucher_date"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><p style="text-align: right">Total</p></td>
                        <td style="text-align: center">{{vm.subTotal | number:2}}</td>
                        <td style="text-align: center">{{vm.withholdTotal | number:2}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.purchaseSummary()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

