<div class="portlet box red">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           {{L.workingInProgress}}</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                <tr >
                    <th style="text-align:center">{{L.num}}</th>
                    <th style="text-align:center">{{L.month}}</th>
                    <th style="text-align:center"> {{L.status}} </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="summary in vm.salesSummary track by $index">
                    <td style="text-align:center"> {{$index+1}} </td>
                    <td style="text-align:center"><a ui-sref="main.SalesSummaryEdit({date: summary.bill_date,uid:summary.company_id })">{{summary.bill_date.split("-")[0]}}/{{summary.bill_date.split("-")[1]}}</a></td>
                    <td style="text-align:center">
                        <span class="label label-sm label-warning" style="background-color: #e7505a"> Undeclared </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>