<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
</style>
<style media="print">
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
</style>
<div class="portlet box blue">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Withhold Declaration</div>
        <div class="tools">
            <!--<a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>-->
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">Print</button>
        </div>


    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
        
        <div class="row noPrint" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Enter the Month and Year of Report Generation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">መስከረም (September)</option>
                        <option value="02">ጥቅምት (October)</option>
                        <option value="03">ህዳር (November)</option>
                        <option value="04">ታህሳስ (December)</option>
                        <option value="05">ጥር (January)</option>
                        <option value="06">የካቲት (February)</option>
                        <option value="07">መጋቢት (March)</option>
                        <option value="08">ሚይዝያ (April)</option>
                        <option value="09">ግንቦት (May)</option>
                        <option value="10">ሰኔ (June)</option>
                        <option value="11">ሃምሌ (July)</option>
                        <option value="12">ነሃሴ (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year">
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
                <div class="col-md-3" style="margin-top: 6px">
                    <button type="button" class="btn btn-primary" ng-click="vm.withholdReport()">View Report</button>
                </div>
            </div>
        </div>

        <!--Form Section-->
        <div class="row">
          <div class="col-md-12" style="padding-top: 12px">
              <!--SECTION-->
                 <table class="table table-responsive table-bordered">
                  <tr>
                      <th><img src="../src/assets/images/logo.jpg"></th>
                      <th style="background-color: gray;color:#ffffff; padding: 40px 0 30px 0;width: 350px" colspan="3"><p style="text-align: center">Federal Democratic Republic of Ethiopia<br>በኢትዮጵያ ገቢዎችና ጉምሩክ ባለሥልጣን </p></th>
                      <th style="width: 420px;padding: 30px 0 30px 0"><p style="text-align: center;font-size: 10px">Withholding Tax On Payment Declaration<br>(Income Tax Proclamation No. 286/2002 & Income Tax Regulation No. 78/2002)</p></th>
                      <th><img src="../src/assets/images/logo.jpg" style="float: right"></th>
                  </tr> 
                 </table>    
              <!--SECTION-->
                 <table class="table table-responsive table-bordered">
                  <tr>
                      <td colspan="13" style="text-align: center;font-size: 10px">Section 1 - Taxpayer Information</td>
                  </tr>
                  <tr>
                     <td colspan="4" style="font-size: 10px">1. Name of Person or Organization Withholding Tax <br></td>
                     <td colspan="3" style="font-size: 10px">3. Taxpayer Identification Number<br> </td>
                     <td colspan="2" style="font-size: 10px">4. Tax Account Number<br></td>
                     <td colspan="2" style="font-size: 10px">8. Withholding Period:<br></td>
                     <td colspan="2" style="font-size: 10px">Page 1 of 1</td>
                  </tr>   
                  <tr>
                     <td colspan="4" style="font-size: 10px">TEST</td>
                     <td colspan="3" style="font-size: 10px">TEST</td>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                  </tr>  
                  <tr>
                     <td colspan="2" style="font-size: 10px">2a. Region</td>
                     <td colspan="2" style="font-size: 10px">2b. Zone/K-Ketema</td>
                     <td colspan="5" style="font-size: 10px">5. Tax Center </td>
                     <td colspan="1" style="font-size: 10px">Month</td>
                     <td colspan="1" style="font-size: 10px">Year</td>
                     <td colspan="2" style="font-size: 10px"></td>
                  </tr>   
                  <tr>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                     <td colspan="5" style="font-size: 10px">TEST</td>
                     <td colspan="1" style="font-size: 10px">{{vm.month}}</td>
                     <td colspan="1" style="font-size: 10px">{{vm.year}}</td>
                     <td colspan="2" style="font-size: 10px"></td>
                  </tr>    
                  <tr>
                     <td colspan="1" style="font-size: 10px">2c Woreda</td>
                     <td colspan="1" style="font-size: 10px">2d Kebele/Farmers Association</td>
                     <td colspan="2" style="font-size: 10px">2e. House Number</td>
                     <td colspan="3" style="font-size: 10px">6. Telephone Number</td>
                     <td colspan="2" style="font-size: 10px">7. Fax Number</td>
                     <td colspan="4" style="font-size: 10px">Document Number (Official Use Only)</td>
                  </tr>   
                  <tr>
                     <td colspan="1" style="font-size: 10px">TEST</td>
                     <td colspan="1" style="font-size: 10px">TEST</td>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                     <td colspan="3" style="font-size: 10px">TEST</td>
                     <td colspan="2" style="font-size: 10px">TEST</td>
                     <td colspan="4" style="font-size: 10px">TEST</td>
                  </tr>     
                 </table>  
              <!--SECTION-1-->

              <!--SECTION-1-->

              <!--SECTION-2-->
              <table class="table table-responsive table-bordered">
                  <thead>
                      <tr>
                      <th colspan="13" style="text-align: center;font-size: 10px">Section 2 – Declaration Details</th>
                  </tr>
                  <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th colspan="3"></th>
                      <th></th>
                      <th></th>
                      <th>G. Tax</th>
                      <th colspan="2">H. Receipt</th>

                  </tr>
                  <tr>
                      <th style="font-size: 10px">A. Seq Num</th>
                      <th style="font-size: 10px">B. Withholdee TIN</th>
                      <th style="font-size: 10px">C. Name of Organization or Person <br>(Name, Father's Name and Grandfather's Name)</th>
                      <th style="font-size: 10px">Region</th>
                      <th style="font-size: 10px">Zone/ K-Ketema</th>
                      <th style="font-size: 10px">Woreda</th>
                      <th style="font-size: 10px">Kebele/Farmers Ass.</th>
                      <th style="font-size: 10px">House Number</th>
                      <th style="font-size: 10px">E. With-holding Type (Rental of Buildings /Other)</th>
                      <th style="font-size: 10px">F. Taxable Amount</th>
                      <th style="font-size: 10px">Withheld</th>
                      <th style="font-size: 10px">Number</th>
                      <th style="font-size: 10px">Date</th>
                  </tr>
                  </thead>
                   <tbody>
                      <tr ng-repeat="item in vm.data track by $index">
                          <td style="font-size: 10px">{{$index+1}}</td>
                          <td style="font-size: 10px">{{item.withholdreport.tin_number}}</td>
                          <td style="font-size: 10px">{{item.withholdreport.company_name}}</td>
                          <td style="font-size: 10px"></td>
                          <td style="font-size: 10px">{{item.withholdreport.zone}}</td>
                          <td style="font-size: 10px">{{item.withholdreport.woreda}}</td>
                          <td style="font-size: 10px"></td>
                          <td style="font-size: 10px">{{item.withholdreport.house_number}}</td>
                          <td style="font-size: 10px"></td>
                          <td style="font-size: 10px">{{item.withholdreport.item_price}}</td>
                          <td style="font-size: 10px">{{item.withholdreport.withholding}}</td>
                          <td style="font-size: 10px">{{item.withholdreport.withholding_code}}</td>
                          <td style="font-size: 10px">{{item.withholdreport.withholding_date}}</td>
                      </tr>
                      <tr>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                   </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <td colspan="7"><p style="text-align:right;font-size:10px">TOTAL</p></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td colspan="13"><p></p></td>
                      </tr>
                      <tr>
                       <td><p style="text-align: right">10</p></td>
                       <td style="font-size: 10px">Total Number of Withholdees'' </td>
                       <td style="font-size: 10px">{{vm.totalNumberWithholdees}}</td>
                       <td colspan="6" rowspan="3">
                           <p style="font-size: 10px">I declare that the above declaration and all information provided here-withis correct
                               and complete to the best of my knowledge and belief. I understand that any
                               misrepresentation is punishable under the appropriate tax laws and penal code.
                           </p>
                       </td>
                       <td style="font-size: 10px">Date of Payment</td>
                       <td></td>
                       <td style="font-size: 10px">Receipt Number</td>
                       <td></td>
                   </tr>
                      <tr>
                       <td><p style="text-align: right;font-size: 10px">20</p></td>
                       <td style="font-size: 10px">Total Taxable Amount for This Tax Period</td>
                       <td style="font-size: 10px">{{vm.totalTaxableAount}}</td>
                       <td style="font-size: 10px">Amount of Payment</td>
                       <td></td>
                       <td style="font-size: 10px">Check Number</td>
                       <td></td>
                   </tr>
                      <tr>
                          <td><p style="text-align: right;cont-sixe:10px">30</p></td>
                          <td style="font-size: 10px">Total Tax Withheld for this Tax Period</td>
                          <td style="font-size: 10px">{{vm.totalWithholdTax}}</td>
                          <td colspan="4" style="font-size: 10px">Cashier's Signature</td>
                      </tr>
                      <tr>
                          <td colspan="3">
                              <p style="font-size: 10px">Taxpayer or Authorized Agent<br>Name:<br>Signature:<br>Date:</p>
                          </td>
                          <td colspan="3" style="font-size: 10px">Witholding Agent Seal</td>
                          <td colspan="7">
                              <p style="text-align: center" style="font-size: 10px">For Tax Office: Name of Authorized Tax Officer</p>
                              <p style="text-align: center " style="font-size: 10px">Signature: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date:</p>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="3">
                              <p style="font-size: 10px">Ministry of Revenue</p>
                          </td>
                          <td colspan="3" style="font-size: 10px">(as of 7/8/2006)</td>
                          <td colspan="7">
                              <p style="text-align: center" style="font-size: 10px">FIRA Form 1105 (1/2006)</p>
                          </td>
                      </tr>
                   </tbody>
               </table>
            </div>
            <div class="col-md-12">
                <button type="button" ng-if="vm.data.vat_status == '0'" ng-click="vm.vatDeclaration()" class="btn btn-primary" style="float:right">Declare Report</button>
            </div>
        </div>
        <!--Form Section-->

    </div>
</div>

