<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Edit Sales Summary</div>
        <div class="tools">
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
            <div class="row" style="background-color: #000000">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h4 style="color: white;font-size: 12px">Enter the Month and Year of Report Generation</h4>
                    </div>
                    <div class="col-md-3">
                        <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                            <option value="01">መስከረም (September)</option>
                            <option value="02">ጥቅምት (October)</option>
                            <option value="03">ህዳር (November)</option>
                            <option value="04">ታህሳስ (December)</option>
                            <option value="05">ጥር (January)</option>
                            <option value="06">የካቲት (February)</option>
                            <option value="07">መጋቢት (March)</option>
                            <option value="08">ሚይዝያ (April)</option>
                            <option value="09">ግንቦት (May)</option>
                            <option value="10">ሰኔ (June)</option>
                            <option value="11">ሃምሌ (July)</option>
                            <option value="12">ነሃሴ (August)</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select style="width: 100%;margin-top:15px" ng-model="vm.year" >
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-xs-3" ><img src="../src/assets/images/logo.jpg"></div>
                        <div class="col-xs-6"><h3 style="font-weight: bold; text-align: center"> የሽያጭ ማጠቃለያ</h3></div>
                        <div class="col-xs-3"><img src="../src/assets/images/logo.jpg" style="float: right"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-xs-6" style="width:50%">
                        <p style="text-align: left;font-weight: bold">የግብር ከፋይ መለያ ቁጥር: <br>የግብር ከፋይ ሥም: <br>የስራው አይነት: </p>
                    </div>
                    <div class="col-xs-6" style="width:50%">
                        <p style="text-align: right;font-weight: bold">የግብር ዘመን: {{vm.month}} ወር {{vm.year}} ዓ.ም<br>ስልክ ቁጥር የቢሮ: <br>ሞባይል: </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 15px"></th>
                            <th></th>
                            <th></th>
                            <th colspan="2" style="text-align:center">የተከፈለው የገንዘብ መጠን በብር</th>
                            <th colspan="2" style="text-align:center">ሽያጭ የተፈጸመበት ደረሰኝ</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th style="text-align:center">ተ.ቁ</th>
                            <th style="text-align:center">የሽያጭ መግለጫ</th>
                            <th style="text-align:center">የዕቃው ዋጋ</th>
                            <th style="text-align:center">የተጨማሪ እሴት ታክስ ዋጋ</th>
                            <th style="text-align:center">ደረሰኝ ቁጥር</th>
                            <th style="text-align:center">የተሠጠበት ቀን</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr></tr>
                        <tr  ng-repeat="sales in vm.salesItems track by $index">
                            <td><input type="checkbox" ng-model="sales.selected"></td>
                            <td style="text-align:center">{{$index+1}}</td>
                            <td style="text-align:center"><input class="custom" type="text" ng-model="sales.name"></td>
                            <td style="text-align:center"><input class="custom" type="number"  ng-model="sales.price" ng-change="vm.salesTotal()"></td>
                            <td style="text-align:center">{{sales.price * 0.15 | number:2}}</td>
                            <td style="text-align:center"><input class="custom" type="text"  ng-model="sales.code"></td>
                            <td style="text-align:center"><input class="custom" type="number" placeholder="01"  ng-model="sales.date"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align:right">Total</td>
                            <td style="text-align:center">{{vm.subTotal | number:2}}</td>
                            <td style="text-align:center">{{vm.vatTotal | number:2}}</td>
                            <td ></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                            <button type="button" class="btn btn-primary" ng-diabled="vm.isSaving" ng-click="vm.salesSummary()">
                                 <i ng-if="!vm.isSaving">Save</i><i ng-if="vm.isSaving">Saving ...</i></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

