<!--CSS Print-->
<style media="screen">
    .noPrint {
        display: block;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<style media="print">
    .noPrint {
        display: none;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<!--CSS Print-->

<div class="portlet box blue">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Employment Income Tax Declaration
        </div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">
                Print
            </button>
        </div>
    </div>
    <div class="portlet-body" style="padding: 0px 15px 15px 15px">
        <!--Date Picker-->
        <div class="row noPrint" style="background-color: #000000">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h4 style="color: white;font-size: 12px">Enter the Month and Year of Report Generation</h4>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.month">
                        <option value="01">መስከረም (September)</option>
                        <option value="02">ጥቅምት (October)</option>
                        <option value="03">ህዳር (November)</option>
                        <option value="04">ታህሳስ (December)</option>
                        <option value="05">ጥር (January)</option>
                        <option value="06">የካቲት (February)</option>
                        <option value="07">መጋቢት (March)</option>
                        <option value="08">ሚይዝያ (April)</option>
                        <option value="09">ግንቦት (May)</option>
                        <option value="10">ሰኔ (June)</option>
                        <option value="11">ሃምሌ (July)</option>
                        <option value="12">ነሃሴ (August)</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select style="width: 100%;margin-top:15px" ng-model="vm.year">
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.getPayroll()">View Report</button>
                </div>
            </div>
        </div>
        <!--/Date Picker-->

        <!--ERCA Form-->
        <div class="row">
            <div class="col-md-12">
                <!--Section-->
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th style="text-align: center;font-size:10px" colspan="2"><img src="../src/assets/images/logo.jpg"></th>
                        <th style="text-align: center;font-size: 12px" colspan="4">የኢትዮጵያ ፌዴራላዊ ዲሞክራሲያዊ ሪፐብሊክ
                            የኢትዮጵያ ገቢዎችና ጉምሩክ ባለሥልጣን
                        </th>
                        <th style="text-align: center;font-size: 10px" colspan="6">ሠንጠረዥ ”ሀ” ከመቀጠር የሚገኝ ገቢ
                            ማስታወቂያ ቅፅ (በገቢ ግብር አዋጅ ቁጥር 286/1994 እና ገቢ ግብር ደንብ ቁጥር 78/1994) (ለተቀጣሪ ሰራተኞች)
                        </th>
                        <th style="text-align: center" colspan="2"><img src="../src/assets/images/logo.jpg"></th>
                    <tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center;font-size: 10px" colspan="14">ክፍል -1 የግብር ከፋይ ዝርዝር መረጃ</td>
                    </tr>
                    <tr>
                        <td colspan="6" rowspan="2" style="font-size: 10px">1. የድርጅቱ ስም<br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px">{{vm.company.name}}</p></td>
                        <td colspan="2" rowspan="2" style="font-size: 10px">3. የድርጅቱ የግብር ከፋይ መለያ ቁጥር<br>

                            <p
                                    style="text-align:center;font-weight:bold;font-size: 10px">
                                {{vm.company.tin_number}}</p></td>
                        <td colspan="3" rowspan="2" style="font-size: 10px">4. የግብር ሂሣብ ቁጥር</td>
                        <td colspan="2" style="font-size: 10px">5. የክፍያ ጊዜ</td>
                        <td colspan="1" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="1" style="font-size: 10px">ወር<br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px">{{vm.month}}</p></td>
                        <td colspan="1" style="font-size: 10px">ዓም<br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px">{{vm.year}}</p></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">2a. ክልል<br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px">{{vm.company.city}}</p></td>
                        <td colspan="3" style="font-size: 10px">2b. ዞን/ክፍለ ከተማ <br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px">{{vm.company.sub_city}}</p>
                        </td>
                        <td colspan="5" style="font-size: 10px">5. የጡረታ መዋጮ ገቢ ሰብሳቢ መ/ቤት ስም<br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px"></p></td>
                        <td colspan="3" rowspan="2" style="font-size: 10px">የሰነድ ቁጥር (ለቢሮ አገልግሎት ብቻ)<br>

                            <p style="text-align:center;font-weight:bold;font-size: 10px"></p></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 10px">2c. ወረዳ</td>
                        <td colspan="2" style="font-size: 10px">2d ቀበሌ</td>
                        <td colspan="1" style="font-size: 10px">2e. የቤት ቁጥር</td>
                        <td colspan="3" style="font-size: 10px">6. የስልክ ቁጥር <br>

                            <p style="text-align:center;font-weight:bold;font-size:10px">{{vm.company.line_number}}</p>
                        </td>
                        <td colspan="2" style="font-size: 10px">7. ፋክስ ቁጥር</td>
                    </tr>
                    <tr>
                        <td colspan="14" style="text-align: center">ሠንጠረዥ -2 የማስታወቂያ ዝርዝር መረጃ</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="font-size: 10px">ተ.ቁ</td>
                        <td rowspan="2" style="font-size: 10px">ለ) የሠራተኛው የግብር ከፋይ መለያ ቁጥር (TIN)</td>
                        <td rowspan="2" style="font-size: 10px">ሐ) የሥራተኛው ስም /ስም የአባት ስምና የአያት ስም/</td>
                        <td rowspan="2" style="font-size: 10px">መ) የተቀጠረበት ቀን</td>
                        <td rowspan="2" style="font-size: 10px">ሠ) ደመወዝ /ብር/</td>
                        <td rowspan="2" style="font-size: 10px">ረ) ጠቅላላ የትራንስፖርት አበል /ብር/</td>
                        <td colspan="3" style="font-size: 10px">ተጨማሪ ክፍያዎች</td>
                        <td rowspan="2" style="font-size: 10px">በ) ጠቅላላ ግብር የሚከፈልበት ገቢ /ብር/</td>
                        <td rowspan="2" style="font-size: 10px">ተ) የሥራ ግብር /ብር/</td>
                        <td rowspan="2" style="font-size: 10px">ቸ) የትምህርት የወጪ መጋራት ክፍያ /ብር/</td>
                        <td rowspan="2" style="font-size: 10px">ነ) የተጣራ ተከፋይ /ብር</td>
                        <td rowspan="2" style="font-size: 10px">ፊርማ</td>
                    </tr>
                    <tr>
                        <td style="font-size: 10px">ሰ) የሥራ ግብር የሚከፈልበት የትራንስፖርት አበል /ብር/</td>
                        <td style="font-size: 10px">ሸ) የትርፍ ሰዓት ክፍያ /ብር/</td>
                        <td style="font-size: 10px">ቀ) ሌሎች ጥቅማጥቅሞች /ብር/</td>
                    </tr>
                    <tr ng-repeat="employee in vm.employees track by $index">
                        <td style="text-align: center;font-size:10px">{{$index+1}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.tin_number}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.employe_name}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.start_date}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.salary | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.transportallowance | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.taxable_transport_allowance |
                            number:2}}
                        </td>
                        <td style="text-align: center;font-size:10px">{{employee.overtime | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.otherallowance | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.taxable_income | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.income_tax | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.cost_sharing | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{employee.net_payment | number:2}}</td>
                        <td style="text-align: center;font-size:10px"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center;font-size:10px">ድምር</td>
                        <td style="text-align: center;font-size:10px">{{vm.total1 | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{vm.total2 | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{vm.total3 | number:2}}</td>
                        <td style="text-align: center;font-size:10px">{{vm.total4 | number:2}}</td>
                        <td style="text-align: center;font-size:10px"></td>
                    </tr>
                    </tbody>
                </table>
                <!--Section-->
                <!--Section-->
                <div class="col-md-12 yesPrint">
                    <div class="col-md-4 yesPrint">
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr>
                                <th colspan="12" style=";font-size:10px">
                                    ክፍል -3 – የወሩ የተጠቃለለ ሂሣብ
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3" style=";font-size:10px">10</td>
                                <td colspan="3" style=";font-size:10px">በዚህ ወር ደመወዝ የሚከፈላቸው የሠራተኞች ብዛት</td>
                                <td colspan="6" style=";font-size:10px">{{vm.employeeCount}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" style=";font-size:10px">20</td>
                                <td colspan="3" style=";font-size:10px">የወሩ ጠቅላላ የሠራተኞች ደመወዝ</td>
                                <td colspan="6" style=";font-size:10px">{{vm.totalSalary | number:2}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" style=";font-size:10px">30</td>
                                <td colspan="3" style=";font-size:10px">የወሩ ጠቅላላ የሰራተኞች መዋጮ መጠን</td>
                                <td colspan="6" style=";font-size:10px">{{vm.total2 | number:2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 yesPrint">
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr>
                                <th colspan="12" style="font-size:10px">
                                    ክፍል -4 በዚህ ወር የሥራ ውላቸው የተቋረጠ ሠራተኞች ዝርዝር መረጃ
                                </th>
                            </tr>
                            <tr>
                                <th colspan="3" style="font-size:10px">ተ.ቁ</th>
                                <th colspan="3" style="font-size:10px">የሠራተኛው የግብር ከፋይ ቁጥር</th>
                                <th colspan="6" style="font-size:10px">የሠራተኛው /ስም የአባት ስምና የአያት ስም/</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="terminated in vm.terminated track by $index">
                                <td colspan="3" style="font-size:10px">{{$index+1}}</td>
                                <td colspan="3" style="font-size:10px">{{terminated.tin_number}}</td>
                                <td colspan="6" style="font-size:10px">{{terminated.fullname}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr>
                                <th colspan="12" style="font-size:10px">
                                    ለቢሮ አገልግሎት ብቻ
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="6" style="font-size:10px">የተከፈለበት ቀን</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="font-size:10px">የደረሰኝ ቁጥር</td>
                                <td colspan="6" style="font-size:10px"></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="font-size:10px">የገንዘብ ልክ</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="font-size:10px">ቼክ ቁጥር</td>
                                <td colspan="6"></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="font-size:10px">የገንዘብ ተቀባይ ፊርማ</td>
                                <td colspan="6"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th colspan="5" style="font-size:10px">ከላይ የተገለፀው ማስታወቂያና የተሰጠው መረጃ በሙሉ የተሟላና ትክክለኛ<br>
                            መሆኑን አረጋግጣለሁ፡፡ ትክክለኛ ያልሆነ መረጃ ማቅረብ በግብር ሕጐችም ሆነ<br>
                            በወንጀለኛ መቅጫ ሕግ የሚያስቀጣ መሆኑን እገነዘባለሁ፡፡
                        </th>
                        <th colspan="4" style="font-size:10px">
                            የግብር ክፈይ/ ሕጋዊ ወኪሉ<br> ስም<br> ፊርማ ቀን
                        </th>
                        <th style="font-size:10px">
                            ማህተም
                        </th>
                        <th colspan="3" style="font-size:10px">
                            የግብር ባለሥልጣን ስም ፊርማ <br>ቀን
                        </th>
                    </tr>
                    </thead>
                </table>

                <!--Section-->
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" style="float:right">Declare Report</button>
            </div>
        </div>
        <!--/ERCA Form-->
    </div>
</div>

