<!--CSS Print-->
<style media="screen">
    .noPrint {
        display: block;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<style media="print">
    .noPrint {
        display: none;
    }

    .yesPrint {
        display: block !important;
    }
</style>
<!--CSS Print-->


<div class="portlet box red">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
           Severance Summary
        </div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">
                Print
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 yesprint">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Sr.No.</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Name</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Basic Salary</td>
                        <td style="text-align: center;font-size: 10px" colspan="3">Served Periods</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Termination Type</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Severance Pay(by employee)</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Severance Pay(by employer)</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Total Severance Pay</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Severance Pay in Time full month</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Income tax on severance pay</td>
                        <td style="text-align: center;font-size: 10px" rowspan="2">Net of Severance Payment after income tax
                            deduction
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">Number of Years</td>
                        <td style="text-align: center">Number of Months</td>
                        <td style="text-align: center">Number of Days</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="severance in vm.severance track by $index">
                        <td style="text-align: center;font-size: 10px">{{$index+1}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.employe_name}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.last_salary}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.served_year.split(",")[0]}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.served_year.split(",")[1]}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.served_year.split(",")[1]}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.termination_type}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.servarancepay_byemployess}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.servarancepay_byemployers}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.total_servarancepay}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.servarance_pay_fullmonth}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.servarance_pay_incometax}}</td>
                        <td style="text-align: center;font-size: 10px">{{severance.net_servarancepay}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

