<div class="portlet light bordered">
        <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
            <div class="caption">

                <span class="caption-subject font-dark bold uppercase">Employee Registration</span>
            </div>
        </div>
        <div class="portlet-body">
            <form role="form">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Personal Record</h4>

                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="First Name" ng-model="vm.fname">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Middle Name" ng-model="vm.mname">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Last Name" ng-model="vm.lname">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="TIN Number" ng-model="vm.tinNumber">
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="Cost Sharing" ng-model="vm.costSharing">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Employment History</h4>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h5>Start Year</h5>
                                <select class="form-control" ng-model="vm.year">
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <h5>Start Month</h5>
                                <select class="form-control" ng-model="vm.month">
                                    <option value="01">መስከረም (September)</option>
                                    <option value="02">ጥቅምት (October)</option>
                                    <option value="03">ህዳር (November)</option>
                                    <option value="04">ታህሳስ (December)</option>
                                    <option value="05">ጥር (January)</option>
                                    <option value="06">የካቲት (February)</option>
                                    <option value="07">መጋቢት (March)</option>
                                    <option value="08">ሚይዝያ (April)</option>
                                    <option value="09">ግንቦት (May)</option>
                                    <option value="10">ሰኔ (June)</option>
                                    <option value="11">ሃምሌ (July)</option>
                                    <option value="12">ነሃሴ (August)</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <h5>Start Day</h5>
                                <input class="form-control" type="number" max="31" ng-model="vm.day">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h5>Salary Type</h5>
                                <select class="form-control" ng-model="vm.salaryType">
                                    <option value="fixed">Fixed</option>
                                    <option value="variable">Variable</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <h5>Department</h5>
                                <input type="text" class="form-control" ng-model="vm.department">
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <hr>
                <div class=row>
                    <div class="col-md-10 col-md-offset-1">
                        <h4 ng-if="vm.salaryType=='fixed' || vm.salaryType =='variable'">Salary Information</h4>
                        <div class="col-md-12" ng-if="vm.salaryType=='fixed'">
                            <div class="col-md-6">
                                <h5>Salary Amount</h5>
                                <input type="number" class="form-control" ng-model="vm.salary" placeholder="Total Salary">
                            </div>
                            <div class="col-md-6">
                                <h5>Fiscal Year</h5>
                                <select class="form-control" ng-model="vm.fiscalYear">
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="vm.salaryType=='variable'">
                            <div class="col-md-12">
                                <h5>Fiscal Year</h5>
                                <select class="form-control" ng-model="vm.fiscalYear">
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <h5>Salary Breakdown</h5>
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <td></td>
                                    <td style="text-align: center">Month</td>
                                    <td style="text-align: center">Total Salary</td>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="salary in vm.salaryDuration">
                                        <td>
                                            <input class="form-control" type="checkbox" ng-model="salary.selected">
                                        </td>
                                        <td style="text-align: center">
                                            <select class="form-control" ng-model="salary.salaryMonth">
                                                <option value="01">መስከረም (September)</option>
                                                <option value="02">ጥቅምት (October)</option>
                                                <option value="03">ህዳር (November)</option>
                                                <option value="04">ታህሳስ (December)</option>
                                                <option value="05">ጥር (January)</option>
                                                <option value="06">የካቲት (February)</option>
                                                <option value="07">መጋቢት (March)</option>
                                                <option value="08">ሚይዝያ (April)</option>
                                                <option value="09">ግንቦት (May)</option>
                                                <option value="10">ሰኔ (June)</option>
                                                <option value="11">ሃምሌ (July)</option>
                                                <option value="12">ነሃሴ (August)</option>
                                            </select>
                                        </td>
                                        <td style="text-align: center">
                                            <input type="number" class="form-control" ng-model="salary.totalSalary" placeholder="Total Salary">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
                                <button type="button" class="btn btn-danger" ng-click="vm.removeItem()">Remove Item</button>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-9" style="margin-top: 10px">
                            <button type="button" class="btn btn-primary" ng-click="vm.addEmployee()">Add Employee
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

