<!--CSS Print-->
<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
</style>
<style media="print">
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
</style>
<!--CSS Print-->


<div class="portlet box red">
    <div class="portlet-title noPrint" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Annual Leave Summary</div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">Print</button>
        </div>
    </div>
    <div class="portlet-body">
        <uib-tabset active="active">
            <!--Fixed Encashed Leave-->
            <uib-tab  heading="Encashed Annual Leave for Fixed Salary" class="noPrint">
                <div class="row">
                    <div class="col-md-12 yesprint">
                        <table class="table table-responsive table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2"  style="text-align:center;font-size:10px">Sr.No.</th>
                                <th rowspan="2"  style="text-align:center;font-size:10px">Employee Name</th>
                                <th colspan="2"  style="text-align:center;font-size:10px">Company Policy(Employment Contract) Related with Annual Leave with pay</th>
                                <th colspan="2"  style="text-align:center;font-size:10px">Number of periods served through out the leave period</th>
                                <th rowspan="2"  style="text-align:center;font-size:10px">Monthly Taxable employment income if fixed through out the concerned leave year </th>
                                <th colspan="3"  style="text-align:center;font-size:10px">Accumulated Leave for the  year in number of working Days to be encashed</th>
                                <th rowspan="2"  style="text-align:center;font-size:10px">Gross Encashed earned annual leave for the year</th>
                                <th rowspan="2"  style="text-align:center;font-size:10px">Total Income tax on Encashed earned annual leave</th>
                                <th rowspan="2"  style="text-align:center;font-size:10px">Net Encashed earned annual leave for the year after income tax deduction</th>
                            </tr>
                            <tr>
                                <th  style="text-align:center;font-size:10px">Number of Working Days Given as  Annual Leave per Annum</th>
                                <th  style="text-align:center;font-size:10px">Number of working days per a month</th>
                                <th  style="text-align:center;font-size:10px">Number of Months</th>
                                <th  style="text-align:center;font-size:10px">Number of Days</th>
                                <th  style="text-align:center;font-size:10px">Gross Accumulated Leave for the  year in number of working Days </th>
                                <th  style="text-align:center;font-size:10px">Net Accumulated Leave for the  year in number of working Days to be encashed</th>
                                <th  style="text-align:center;font-size:10px">Net Accumulated Leave for the  year in number of working Days to be incashed in Time full month</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="fixed in vm.fixedEnchasedLeave track by $index">
                                <td style="text-align:center;font-size:10px">{{$index+1}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.employename}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.annual_leave}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.working_day}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.served_period.split("-")[0]}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.served_period.split("-")[1]}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.taxable_salary}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.accumulated_leave}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.net_accumlated_leave_day | number:2}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.net_accumlated_leave_day | number:2}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.gross_encashed_leave | number:2}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.incometax_encashed_leave | number:2}}</td>
                                <td style="text-align:center;font-size:10px">{{fixed.net_encashedleave_aftertax | number:2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <!--Fixed Encashed Leave-->

            <!--Variable Encashed Leave-->
            <uib-tab heading="Encashed Annual Leave for Variable Salary" class="noPrint">
                <div class="row">
                    <div class="col-md-12 yesprint">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group ng-repeat="leave in vm.variableEncashedLeave track by $index" class="panel-default" heading="{{leave.employe.full_name}}">
                                <!--Employee Information-->
                                <table class="table table-responsive table-bordered" style="margin-bottom: 10px;background-color:gray;color:#ffffff">
                                    <thead>
                                       <tr>
                                        <th rowspan="2"  style="text-align:center;font-size:10px">Employee Name</th>
                                        <th colspan="2"  style="text-align:center;font-size:10px">Company Policy(Employment Contract) Related with Annual Leave with pay</th>
                                        <th colspan="2"  style="text-align:center;font-size:10px">Number of periods served through out the leave period</th>
                                        <th colspan="3"  style="text-align:center;font-size:10px">Accumulated Leave for the  year in number of working Days to be encashed</th>
                                        <th rowspan="2"  style="text-align:center;font-size:10px">Gross Encashed earned annual leave for the year</th>
                                        <th rowspan="2"  style="text-align:center;font-size:10px">Total Income tax on Encashed earned annual leave</th>
                                    </tr>
                                       <tr>
                                           <th  style="text-align:center;font-size:10px">Number of Working Days Given as  Annual Leave per Annum</th>
                                           <th  style="text-align:center;font-size:10px">Number of working days per a month</th>
                                           <th  style="text-align:center;font-size:10px">Number of Months</th>
                                           <th  style="text-align:center;font-size:10px">Number of Days</th>
                                           <th  style="text-align:center;font-size:10px">Gross Accumulated Leave for the  year in number of working Days </th>
                                           <th  style="text-align:center;font-size:10px">Net Accumulated Leave for the  year in number of working Days to be encashed</th>
                                           <th  style="text-align:center;font-size:10px">Net Accumulated Leave for the  year in number of working Days to be incashed in Time full month</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td style="text-align:center;font-size:10px">{{leave.employe.full_name}}</td>
                                          <td style="text-align:center;font-size:10px">{{leave.employe.working_day}}</td>
                                          <td style="text-align:center;font-size:10px">{{leave.employe.annual_leave}}</td>
                                          <td style="text-align:center;font-size:10px">{{leave.employe.served_period.split("-")[0]}}</td>
                                          <td style="text-align:center;font-size:10px">{{leave.employe.served_period.split("-")[1]}}</td>
                                          <td style="text-align:center;font-size:10px">{{leave.employe.accumulated_leave}}</td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                      </tr>
                                    </tbody>
                                </table>
                                <!--Employee Information-->
                                <!--Listing Table-->
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                    <tr style="text-align:center;font-size:10px">
                                        <th style="text-align:center;font-size:10px">Sr.No.</th>
                                        <th style="text-align:center;font-size:10px">Concerned accumulated annual leave period by Months if different taxable employment income gained</th>
                                        <th style="text-align:center;font-size:10px">Monthly Taxable employment income through out the concerned leave year before Encashed Leave </th>
                                        <th style="text-align:center;font-size:10px">Gross Encashed earned annual leave for Each Months</th>
                                        <th style="text-align:center;font-size:10px">Monthly Taxable employment income through out the concerned leave year  including Encashed earned annual Leave</th>
                                        <th style="text-align:center;font-size:10px">Income tax on Encashed earned annual leave and Other employment incomes</th>
                                        <th style="text-align:center;font-size:10px">Income tax on monthly employment incomes without Encashed Annual leave</th>
                                        <th style="text-align:center;font-size:10px">Monthly  Tax On Encashed earned annual Leave</th>
                                        <th style="text-align:center;font-size:10px">Net Encashed earned annual leave for the year after income tax deduction</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in leave.encashedLeave track by $index">
                                            <td style="text-align:center;font-size:10px">{{$index+1}}</td>
                                            <td style="text-align:center;font-size:10px">Month {{$index+1}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.taxable_salary}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.gross_encashed_leave_bymonth}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.taxable_salary_including_encashedleave}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.incometax_encashed_leave}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.incometax_without_encashed_leave}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.monthlytax_encashed_leave}}</td>
                                            <td style="text-align:center;font-size:10px">{{data.encashe_leave_after_incometax}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--Listing Table-->
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </uib-tab>
            <!--Variable Encashed Leave-->

        </uib-tabset>
    </div>

</div>

