<!--CSS Print-->
<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
</style>
<style media="print">
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
</style>
<!--CSS Print-->

<div class="portlet box blue">
    <div class="portlet-title" style="background-color: #ea6443;font-weight:700;font-size:17px">
        <div class="caption">
            Purchase Summary</div>
        <div class="tools">
            <button type="button" class="btn btn-primary" style="border:1px solid #ffffff" onclick="window.print()">Print</button>
        </div>
    </div>
    <div class="portlet-body">

        <div class="row">
            <div class="col-md-12">

                <table class="table table-responsive table-bordered">
                    <tr>
                        <td colspan="3" style="text-align: left;border:hidden"><img src="../src/assets/images/logo.jpg"></td>
                        <td colspan="6" style="border:hidden"><h3 style="font-weight: bold; text-align: center">በኢትዮጵያ ገቢዎችና ጉምሩክ ባለሥልጣን <BR>የግብር ከፋይ መለያ ቁጥር ከሌላቸው ግብር ከፋዮች የተፈፀመ የአገር ውስጥ የዕቃና የአገልግሎት ግዢ ማሳወቂያ ቅጽ</h3></td>
                        <td colspan="3" style="text-align: right;border:hidden"><img src="../src/assets/images/logo.jpg"></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: left;border:hidden">
                            <p style="text-align: left;font-weight: bold;font-size: 10px">የግብር ከፋይ መለያ ቁጥር <br>የግብር ከፋይ ሥም<br>የስራው አይነት<br>ሪፖርት የተደረገበት: {{vm.year}}  ዓ.ም {{vm.month}} ወር</p>
                        </td>
                        <td colspan="2" style="text-align: right;border:hidden">
                            <p style="text-align: left;font-weight: bold;font-size: 10px">ስልክ ቁጥር:<br>ሞባይል</p>
                        </td>
                        <td colspan="4" style="text-align: right;border:hidden">
                            <p style="text-align: right;font-weight: bold;font-size: 10px">የማስታወቂያ ዓይነት<br>1.የዕቃ ግዢ<br>2.የአገልግሎት</p>
                        </td>
                    </tr>
                </table>

                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="4" style="text-align: center;font-size: 10px">አድራሻ</th>
                        <th></th>
                        <th colspan="2" style="text-align: center;font-size: 10px">የተከፈለው የገንዘብ መጠን በብር</th>
                        <th colspan="2" style="text-align: center;font-size: 10px">የክፍያ ቮቸር</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;font-size: 10px">ተ.ቁ</th>
                        <th style="text-align: center;font-size: 10px">የሻጭ ድርጅት ግለሰብ/ሥም</th>
                        <th style="text-align: center;font-size: 10px">ክልል</th>
                        <th style="text-align: center;font-size: 10px">ዞን/ ክ/ከተማ</th>
                        <th style="text-align: center;font-size: 10px">ወረዳ/ቀበሌ</th>
                        <th style="text-align: center;font-size: 10px">የቤት ቁ.</th>
                        <th style="text-align: center;font-size: 10px">የእቃው/የአገልግሎት አይነት</th>
                        <th style="text-align: center;font-size: 10px">የዕቃው/የአገልግሎት ዋጋ</th>
                        <th style="text-align: center;font-size: 10px">ዊዝሆልዲን ታክስ</th>
                        <th style="text-align: center;font-size: 10px">ቁጥር</th>
                        <th style="text-align: center;font-size: 10px">የተሰጠበት ቀን</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    <tr ng-repeat="purchase in vm.purchaseSummary track by $index">
                        <td style="text-align: center;font-size: 10px">{{$index+1}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.company_name}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.sub_city}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.zone}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.woreda}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.house_number}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.purchase_type}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.item_price}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.item_price * 0.02}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.voucher_number}}</td>
                        <td style="text-align: center;font-size: 10px">{{purchase.voucher_date}}</td>

                        </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">Total</td>
                        <td style="text-align: center;font-size: 10px">{{vm.purchaseTotal}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

