<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class=" panel-body " style="margin-top: 55%;border: solid grey 1px;">
                <div class="panel-heading">
                    <a style="text-align: center" href="index.html" class="login-logo"><h3>Yokida VAS &trade;</h3></a>
                    <small class="display-block" style="color:indianred"></small>
                    <img style="text-align: center" ng-show="vm.authenticating" width="100px" height="100px"
                         src="assets/img/loading.gif"/>
                </div>
                <div class="panel-body">

                    <form action="" class="form-horizontal">
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-user"></i>
										</span>
                                    <input type="text" ng-model="vm.name" class="form-control" placeholder="Full Name"
                                           placeholder="At least 6 characters" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-user"></i>
										</span>
                                    <input type="text" ng-model="vm.email" class="form-control" placeholder="Username"
                                           placeholder="At least 6 characters" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-key"></i>
										</span>
                                    <input type="password" ng-model="vm.password" class="form-control"
                                           id="exampleInputPassword1" placeholder="Password">
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-key"></i>
										</span>
                                    <input type="password" ng-model="vm.passwordConfirmation" class="form-control"
                                           id="exampleInputPassword2" placeholder="Confirm password">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="panel-footer">
                    <p>If you already have an account <a ui-sref="login">Login here</a></p>

                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="clearfix">

                            <a class="btn btn-primary" ng-click="vm.register()">Register</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>