<a  class="dropdown-toggle">
    <select name="lang" class="input-inline input-small" ng-model="lang" ng-change="getLanguage(lang)">
        <option value="en-US"> English </option>
        <option value="am-ET"> አማርኛ </option>
    </select>
</a>
<ui-view>

</ui-view>
